/*@viewport {
  initial-width: auto;
  min-width: 100px;
  max-width: 900px;
  zoom: 1.0;
  min-zoom: 1.0;
}*/

@media screen and (max-width: 560px) {
	#portrait {
        float: unset;
        padding: 0 0 15px 0;
    }
    .centerImg{
        width: 180px;
        height: auto;    
    }
    h1{
        font-size: 24px;
    }
    p, #contentWrapper li, h3 {
        font-size: 13px;
        color: #000;
    }
}
@media screen and (min-width: 560px) {
h1{
    font-size: 39px;
}
}
#outerWrapper {
    width: auto;
    padding: 10px;
}
#nav {
    position: relative;
    width: auto;
    text-align: center;
	display: none;
}

/* #mobnav {
	position: relative;
	width: auto;
    text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}
#mobnav ol {
	margin: 0px 0px 25px 0px;
	padding-top: 0px;
}
#mobnav li a {
	border-left: none;
}
#mobnav #portrait {
    margin: 0 auto;
} */
#contentWrapper {
    float: none;
    width: auto;
}
a.handheld_only {
    display: inline;
}
address ul li span {
	float: left;
	margin-top: 10px;
	width: 100%;
}