/* -----------------------------You-Tube Vedios------------------------------------------------*/
.youtube-player {
  position: relative;
  height: 0;
  overflow: hidden;
  background: #000;
  margin: 10px 0;
  float: left;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}
.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}
.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../imgs/play.png") no-repeat;
  cursor: pointer;
}
/* -------------------- reset -------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1 h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/* -------------------- global positioning -------------------- */
html,
body {
  /*	background-color: #f3f3f3;*/
  width: 100%;
}
#outerWrapper {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 100px;
  /*	background: url(../imgs/glow.png) 115px top no-repeat;*/
  overflow: hidden;
}
#contentWrapper {
  width: 740px;
  float: right;
}
#nav {
  position: fixed;
}
#mobnav {
  display: none;
}
address {
  font-style: unset !important;
}
/* -------------------- global styling -------------------- */
h1,
h2,
h3 {
  font-weight: normal;
}
p,
h3 {
  line-height: 1.5em;
}
.hide {
  display: none;
}
p,
h3 {
  font-size: 20px;
  color: #000;
}
/* -------------------- navigation -------------------- */
#info {
  display: flex;
  float: right;
  margin-bottom: 15px;
}
#portrait {
  float: left;
  padding: 0 25px 10px 0;
}
#portrait a span {
  display: block;
  overflow: hidden;
}
.desktop-navigation ol {
  margin-left: -50px;
}
.desktop-navigation li a {
  color: #666;
  padding-left: 10px;
  border-left: 5px solid #f3f3f3;
  display: block;
}
.desktop-navigation li {
  margin-top: 5px;
}
.desktop-navigation li a:hover,
.desktop-navigation li a:active {
  color: #333;
  padding-left: 10px;
  border-left: 5px solid #add8e6;
  text-decoration: none;
}
/* -------------------- contact info -------------------- */
#contentWrapper #contactInfo ul {
  float: right;
  overflow: hidden;
}
/* -------------------- content -------------------- */
h1 {
  font-size: 50px;
}
span.floatRight {
  float: right;
}
#about p,
#press p {
  margin-bottom: 20px;
}
section li:last-child,
#about p:last-child,
#press li:last-child {
  margin-bottom: 0;
}
a {
  color: rgb(0, 66, 118);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#projects li li {
  list-style-type: disc;
  margin: 5px 0 5px 40px;
}
#projects li li:last-child {
  margin-bottom: 0;
}
#skills p,
#honors p,
#mentoring p {
  margin-bottom: 5px;
}
#skills p:last-child,
#honors p:last-child,
#mentoring li:last-child {
  margin-bottom: 0;
}
/* -------------------- text-indent fx -------------------- */
#teaching li li:first-child {
  margin-left: 0;
}
#publications img {
  float: left;
  padding-right: 10px;
}
#teaching ul ul {
  margin-left: 80px;
}
#teaching ul ul p {
  text-indent: -40px;
}
/*-----------------misc----------*/
.handheld_only {
  display: none;
}
/* ---------- youtube embed section ----------- */
.yt-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.yt-video {
  flex-basis: calc(50% - 12px);
  margin-bottom: 20px;
}
.yt-video iframe {
  min-height: 202px;
}
#essays p,
#publications p,
#service p,
#teaching p,
#sub-teaching p,
#videos p {
  margin-bottom: 30px;
}
