/* -----------------------------You-Tube Vedios------------------------------------------------*/
.youtube-player {
	position: relative;
	/* Use 75% for 4:3 videos */
	height: 0;
	overflow: hidden;
	background: #000;
	margin: 10px;
	float: left;
	}
	.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
	}
	.youtube-player img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
	}
	.youtube-player img:hover {
	-webkit-filter: brightness(75%);
	}
	.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("//i.imgur.com/TxzC70f.png") no-repeat;
	cursor: pointer;
	}
	

/* -------------------- reset -------------------- */

html, body, div, span, applet, object, iframe,h1
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* -------------------- global positioning -------------------- */

html, body {
/*	background-color: #f3f3f3;*/
	width: 100%;
}

#outerWrapper {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0 100px;
/*	background: url(../imgs/glow.png) 115px top no-repeat;*/
	overflow: hidden;
}

#contentWrapper {
	width: 740px;
	float: right;
}
#nav {
	position: fixed;	
}
#mobnav {
	display: none;
}
address {
    font-style: unset !important;
}
/* -------------------- global styling -------------------- */
@font-face { 
	font-family: "et-book";
	src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
	src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, p, li, a {
	 font-family: "et-book";
}

h1, h2, h3 {
	font-weight: normal;
}

p, h3 {
	line-height: 1.5em;
}



.hide {
	display: none;
}


#about, #edu, #interests, #positions, #experience, #training, #projects, #skills, #publications, #articles,
#presentations, #press, #honors, #mentoring, #service, #teaching {
	padding-top: 30px;
	/*background: url(../imgs/divider.png) no-repeat bottom;*/
}

p, #contentWrapper li, h3 {
	font-size: 15px;
	color: #000;
}

/* -------------------- navigation -------------------- */

#portrait {
	float:left;
	padding: 0 25px 10px 0;
}

#portrait a span {
	display: block;
	overflow: hidden;
}

nav ol {
	margin-top: 53px;
	margin-left: -15px;
}

nav li a {
	font-size: 14px;
	color: #666;
/* 	padding-left: 10px; */
	padding: 6px 0 0 10px;
	border-left: 5px solid #f3f3f3;
	display: block;
	line-height: 1.2;
}

nav li {
	margin-top: 10px;
}

nav li a:hover, nav li a:active {
	color: #333;
	padding-left: 10px;
	border-left: 5px solid #add8e6;
}

/* -------------------- contact info -------------------- */

#contentWrapper #contactInfo ul {
	float: right;
	overflow: hidden;
}

/* #contentWrapper #contactInfo li {
	float: left;
	font-size: 12px;
	color: #999;
	background: url(../imgs/sprites.png) no-repeat;
	line-height: 20px;
	margin-left: 30px;
	margin-bottom: 0;
}

#contentWrapper #contactInfo li:nth-child(1) {
	padding-left: 23px;
	background-position: 0 0;
}

#contentWrapper #contactInfo li:nth-child(2) {
	padding-left: 15px;
	background-position: 0 -30px;
}

#contentWrapper #contactInfo li:nth-child(3) {
	padding-left: 31px;
	background-position: 0 -60px;
} */

/* -------------------- content -------------------- */

h1 {
	font-size: 50px;
	/*padding-bottom: 20px;
	background: url(../imgs/divider.png) no-repeat bottom;*/
}

span.floatRight {
	float: right;
}

section li {
	margin-bottom: 30px;
}

#about p, #press li {
	margin-bottom: 20px;
}

section li:last-child, #about p:last-child, #press li:last-child {
	margin-bottom: 0;
}

 a {
	color: rgb(0, 66, 118);
	text-decoration: none;
}
 a:hover {
	text-decoration:underline;	
}

#projects li li {
	list-style-type: disc;
	margin: 5px 0 5px 40px;
}

#projects li li:last-child {
	margin-bottom: 0;
}

#skills li, #honors li, #mentoring li {
	margin-bottom: 5px;
}

#skills li:last-child, #honors li:last-child, #mentoring li:last-child {
	margin-bottom: 0;
}


/* -------------------- text-indent fx -------------------- */



#teaching li li:first-child {
	margin-left: 0;
}

#publications img { float: left; padding-right: 10px; }

#teaching ul ul {
	margin-left: 80px;
}

#teaching ul ul p {
	text-indent: -40px;
}

/*-----------------misc----------*/
.handheld_only {
    display: none;
}
