/* site responsiveness css */
@media (max-width: 1199px) {
  nav ol {
    margin-left: unset;
  }
}
@media (min-width: 1025px) {
  .mobile-responsive-menu {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav ol {
    margin-left: unset;
  }
  ol {
    line-height: 1.8rem;
  }
  /* mobile responsive menu */
  .mobile-responsive-menu {
    display: block;
    position: fixed;
    right: 22px;
    top: 22px;
  }
  /* mobile menu icon */
  .mob-menu-icon {
    width: 30px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  .mob-menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .mob-menu-icon span:nth-child(1) {
    top: 0px;
  }
  .mob-menu-icon span:nth-child(2) {
    top: 10px;
  }
  .mob-menu-icon span:nth-child(3) {
    top: 20px;
  }
  .mob-menu-icon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .mob-menu-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .mob-menu-icon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  /* mobile menu */
  .mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: #f3f3f3;
    color: #fff;
  }
  .notShow {
    opacity: 0;
  }
  .mobile-menu {
    transition: 0.25s all ease-in;
    display: flex;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  }
  .mobile-menu.notShow {
    min-height: 0;
  }
  .mobile-menu.show {
    min-height: 260px;
  }
  .mobile-menu.notShow .menu {
    opacity: 0;
  }
  .mobile-menu .menu {
    padding-left: 20px;
    margin-top: unset;
  }
  .mobile-menu.show .menu {
    opacity: 1;
  }
  .mobile-menu li a {
    color: #000;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}
@media (max-width: 999px) {
  h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
    line-height: 1;
  }
  h2 {
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2rem;
    line-height: 1;
  }
  h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
  }
  hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  ol {
    line-height: 2rem;
  }
  #outerWrapper {
    width: auto;
    padding: 10px;
  }
  #nav {
    display: none;
  }
  #contentWrapper {
    float: none;
    width: auto;
  }
  a.handheld_only {
    display: inline;
  }
  address ul li span {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  address {
    font-style: unset !important;
  }
}
@media (max-width: 767px) {
  .youtube-player {
    height: 300px !important;
  }
  .youtube-player .play {
    height: 62px;
    width: 62px;
    margin-left: -31px;
    margin-top: -31px;
    background-size: 100%;
  }
}
@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }
  section > ol {
    width: 90%;
  }
  section > ul {
    width: 90%;
  }
  figure {
    max-width: 90%;
  }
  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }
  label {
    cursor: pointer;
  }
  div.table-wrapper,
  table {
    width: 85%;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  #info {
    float: none;
  }
  body {
    width: unset;
    padding-left: 14px;
    padding-right: 14px;
  }
  html {
    font-size: 14px;
  }
  h3 {
    font-size: 1.2rem;
  }
  .align-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span.floatRight {
    text-align: right;
  }
  #outerWrapper {
    padding: 5px;
  }
}
@media screen and (max-width: 560px) {
  #portrait {
    float: unset;
    padding: 0 0 15px 0;
  }
  .centerImg {
    width: 180px;
    height: auto;
  }
  .youtube-player {
    height: 230px !important;
  }
}
@media screen and (max-width: 480px) {
  .youtube-player {
    height: 170px !important;
  }
  .youtube-player .play {
    height: 52px;
    width: 52px;
    margin-left: -26px;
    margin-top: -26px;
  }
}
@media screen and (max-width: 350px) {
  .youtube-player {
    height: 120px !important;
  }
}
